<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include favicons.html %}
    
    <title>{% if page.title %}{{ page.title }}  /  Pgh Codes{% else %}{{ site.data.settings.seo.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.settings.seo.description }}{% endif %}">
    {% include social-media-tags.html %}
    
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

</head>