<style type="text/css">
    #map { 
        height: 100%; 
    }
</style>

<div id="map"></div>
<script>
function initMap() {
    var mapOpts = [
      {
        featureType: "administrative",
        elementType: "labels",
        stylers: [
          { visibility: "off" }
        ]
      },{
        featureType: "poi",
        elementType: "labels",
        stylers: [
          { visibility: "off" }
        ]
      },{
        featureType: "water",
        elementType: "labels",
        stylers: [
          { visibility: "off" }
        ]
      },{
        featureType: "transit",
        elementType: "labels",
        stylers: [
          { visibility: "off" }
        ]
      }
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: { "lat":40.4405, "lng":-80.00015},
        mapTypeId: 'nolabels',
        disableDefaultUI: true
    });

    map.mapTypes.set('nolabels', new google.maps.StyledMapType(mapOpts, { name: 'No Labels' }));

    $.getJSON("http://2016.pgh.codes/api/cans.php", function(json){
      for(x=0;x<json.cans.length;x++) {
        marker = new google.maps.Marker({
          position: json.cans[x],
          map: map,
          title: "Can ID: " + json.cans[x].id + ", Type: " + json.cans[x].type
        });
      }
    });

    // var marker = new google.maps.Marker({
    //   position: { "lat":40.4405, "lng":-80.00015 },
    //   map: map,
    //   title: 'Hello World!'
    // });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEnFUGKXAcUT2CcCfYo8DpZ-CRG4-U6FA&callback=initMap">
</script>