
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ site.data.settings.seo.title }} / {{ page.title }}">
    <meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.settings.seo.description }}{% endif %}">
    <meta itemprop="image" content="{{ site.url }}/assets/imgs/social-sharing.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:title" content="{{ site.data.settings.seo.title }} / {{ page.title }}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.settings.seo.description }}{% endif %}">

    <!-- Open Graph data -->
    <meta property="og:site_name" content="{{ site.data.settings.seo.title }}" />
    <meta property="og:title" content="{{ site.data.settings.seo.title }} / {{ page.title }}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.settings.seo.description }}{% endif %}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:image" content="{{ site.url }}/assets/imgs/social-sharing.jpg" />