// Import neat-helpers if you are planning to use new-breakpoint() to define new variables
@import "neat/neat-helpers";

// Change the grid settings
$column: 45px;
$gutter: 0px;
$grid-columns: 3;
$max-width: 100%;

// Define your breakpoints
$tablet: new-breakpoint(max-width 830px 3);
$mobile: new-breakpoint(max-width 600px 1);

$visual-grid: false;
$visual-grid-color: yellow;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;