.can-types {
    i.fa {
        color: #aaa;
        display: inline-block;
        margin-right: 5px;
        
        &.fa-certificate.on { //for te solar
            color: #ECBF10 !important;
        }        
        
        &.fa-recycle.on {
            color: #4acd60 !important;
        }        
        
//        &.fa-fire.on {
//            color: #fd6805 !important;
//        }        
//        
//        &.fa-trash.black.on {
//            color: #000 !important;
//        }        
//        
//        &.fa-trash.gray.on {
//            color: #444 !important;
//        }
//        
//        span {
//            display: inline-block;
//            margin-left: 3px;
//            font-family: $primary-font-family;
//        }
    }  
}