/* AWESOME FORM EFFECTS FROM https://github.com/codrops/TextInputEffects */
form {
    margin-top: 3em;
}
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0 2em 3em 0;
	max-width: 400px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: $lgt-green;
	color: $drk-green;
	font-weight: 400;
	font-family: $primary-font-family;
    font-weight: 600;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 .5em;
	width: 40%;
	color: $lgt-green;
	font-weight: bold;
	font-size: em(18);
    line-height: 2.7em;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: .5em 0;
	width: 100%;
}

/* Yoshiko */
.input__field--yoshiko {
	width: 100%;
	background-color: $lgt-green;
	border: 2px solid transparent;
	-webkit-transition: background-color 0.3s, border-color 0.3s;
	transition: background-color 0.3s, border-color 0.3s;
}

.input__label--yoshiko {
	width: 100%;
	text-align: left;
	position: absolute;
	bottom: 100%;
	pointer-events: none;
	overflow: hidden;
	padding: 0 .7em;
	-webkit-transform: translate3d(0, 3em, 0);
	transform: translate3d(0, 3em, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--yoshiko {
	color: $drk-green;
	padding: 0.25em 0;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--yoshiko::after {
	content: attr(data-content);
	position: absolute;
	font-weight: 600;
	bottom: 100%;
	left: 0;
	height: 100%;
	width: 100%;
	color: #87ab88;
	padding: 1em 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.9em;
}

.input__field--yoshiko:focus + .input__label--yoshiko,
.input--filled .input__label--yoshiko {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--yoshiko:focus + .input__label--yoshiko .input__label-content--yoshiko,
.input--filled .input__label-content--yoshiko {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.input__field--yoshiko:focus + .input__field--yoshiko,
.input--filled .input__field--yoshiko {
	background-color: transparent;
	border-color: $lgt-green;
}
