form.login-form {
    padding: .5em;
    font-size: em(22);
    
    input, select {
        background: transparent;
        border: none;
        outline: none;
        width: 100%;
        border-bottom: 2px solid $lgt-gray; 
        padding: 10px 0;
        margin-bottom: 25px;
    }
    
    label {
        font-size: em(12);
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        margin: 1.25em 0 .5em 0;
    }
    
    button {
        position:absolute;
        bottom: 0;
        left: 0;
        border: none;
        outline: none;
        text-transform: uppercase;
        font-weight: 500;
        font-size: em(36);
        width: 100%;
        background-color: $blue;
        color: #fff;
        padding: .75em;
        margin: 0;
        text-align: center;

        &:hover {
            background-color: $navy;
        }
    }
}

