.slide-container {
    background-color: white;
    padding: 2em 1.5em 1.5em 1.5em;
    width: 100%;
    position: absolute;
    top: 92%;
    height: 80%;
    overflow: scroll;
    z-index: 999;
    
    a.close {
        line-height: .7em;
        font-size: 1.5em;
        font-size: em(42);
        text-decoration: none;
        color: $navy;

        &:hover {
            color: darken($navy, 20%);
            @include transition(color 1s ease);
        }
    }
    
    .slide-header {
        margin: 5px 0 10px 0;

        h2 {
            margin: 1px 0 7px 0;
        }
    }
    
    .slide-body {
        border-top: 1px solid #aaa;
        margin: 0 0 1.5em 0;
        padding-top: 20px;
        font-size: em(17);
        line-height: em(26);
        
        > h1 {
            margin-top: 0;
        }
        
        > h2 {
            margin-top: 0;
        }
        
        > h3 {
            margin-top: 0;
        }
        
        > h4 {
            margin-top: 0;
        }
    }

}

.open-slide {
    top: 8%;
}

.close-slide {
    top: 92%;
}

.transition {
    @include transition(top 0.3s ease-in);
}