.slide-container {
    background-color: white;
    padding: 2em 1.5em 1.5em 1.5em;
    width: 100%;
    position: absolute;
    top: 92%;
    height: 92%;
    overflow: hidden;
    z-index: 999;
    
    a.close {
        line-height: .7em;
        font-size: 1.5em;
        font-size: em(42);
        text-decoration: none;
        color: $navy;

        &:hover {
            color: darken($navy, 20%);
            @include transition(color 1s ease);
        }
    }
    
    .slide-header {
        margin: 5px 0 10px 0;
        
        h2 {
            margin-top: 1px;
        }
    }

}

.open-slide {
    top: 8%;
}

.close-slide {
    top: 92%;
}

.transition {
    @include transition(top 0.3s ease-in);
}