/*----------------------------------------------------
	MAIN TYPE STYLING
-----------------------------------------------------*/

// Styling

html {
    font-family: $primary-font-family;
    font-weight: $primary-font-weight;
    color: $primary-font-color;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    @media (max-width: 900px) {
      html { font-size: 15px; }
    }

    @media (max-width: 400px) {
      html { font-size: 13px; }
    }

p {
    font-size: em(15);
    line-height: em(28);
    margin-bottom: .8em;
    
    &:last-of-type, &:last-child {
        margin-bottom: 0 !important;
    }
}

p.intro {
    font-size: em(17);
    line-height: em(26);
    margin-bottom: .6em;
    
    &:last-of-type, &:last-child {
        margin-bottom: 0 !important;
    }
}


h1 {
    font-family: $primary-heading-font-family;
    font-weight: $primary-heading-font-weight;
    font-size: em(40) !important;
    margin: 0 0 15px 0;
    color: $blue;
    word-spacing: 5px;
}
    
h2 {
    line-height: 1.2;
    color: $drk-gray;
    font-size: em(25);
    margin: 30px 0 17px 0;
}

h3 {
    font-size: em(18);
    font-weight: 600;
    margin: 6px 0 6px 0;
}

h4 {
    font-size: em(14);
    font-weight: 400;
    margin: 1.25em 0 4px 0;
    text-decoration: underline;
    color: lighten($drk-gray, 5);
}

.sml-txt {
    font-size: em(12);
}